.cadastro-botao-area {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 52px;
    margin-bottom: 48px;
}

.cadastro-botao {
    width: 170px;
    height: 54px;
    border-radius: 20px;

    border: none;

    background: var(--gradient-blue);
    color: var(--white);
    font: var(--text-24);
}